<!DOCTYPE html>
<html ng-app="bmate">
  <head>

    <base href="/">

    <title>BMate</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="assets/favicon.ico" type="image/x-icon">

    <!-- build:css app.css -->

    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <!-- endinject -->

    <!-- inject:css -->
    <link rel="stylesheet" href="styles/css/app.css">
    <!-- endinject -->

    <!-- endbuild -->

  </head>
  <body>

    <md-toolbar class="md-toolbar-tools" ng-controller="NavbarCtrl as nav">

      <md-button class="md-icon-button" aria-label="Settings" ng-click="nav.toggleSidenav('left')" hide-gt-sm ng-hide="true">
        <md-icon md-svg-icon="assets/images/icons/menu.svg"></md-icon>
      </md-button>
      <a ui-sref="games.list">
        <h2>Biljart mate</h2>
      </a>
      <span flex></span>

      <a ui-sref="login" ng-if="!Auth.isAuthed()">
        <md-button class="md-button" aria-label="Login">Login</md-button>
      </a>
      <a ui-sref="logout" ng-if="Auth.isAuthed()">
        <md-button class="md-button" aria-label="Logout" ng-click="Auth.logout()">Logout</md-button>
      </a>
      <md-button class="md-icon-button" aria-label="More" ng-if="false">
        <md-icon md-svg-icon="assets/images/icons/more_vert.svg"></md-icon>
      </md-button>


    </md-toolbar>

    <div layout="row" flex ng-hide="true">

      <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z1" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
        <md-content>
          <p>Nothing yet</p>
        </md-content>

      </md-sidenav>
    </div>

    <div layout-align="center center">
      <md-content layout-padding>
        <div ui-view></div>
      </md-content>
    </div>

    <footer>
      <md-toolbar layout="row" layout-align="center center">
        <p>With ♥ from pkit</p>
      </md-toolbar>
    </footer>


    <script src="socket.io/socket.io.js"></script>

    <!-- build:js app.js -->

    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-socket-io/socket.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-validation-messages/dist/angular-validation-messages.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endinject -->

    <!-- inject:js -->
    <script src="app.js"></script>
    <script src="components/auth/auth.js"></script>
    <script src="components/navbar/navbar.controller.js"></script>
    <script src="components/socket/socket.mock.js"></script>
    <script src="components/socket/socket.service.js"></script>
    <script src="views/games/games.controller.js"></script>
    <script src="views/games/games.routes.js"></script>
    <script src="views/games/games.service.js"></script>
    <script src="views/login/login.controller.js"></script>
    <script src="views/login/login.js"></script>
    <script src="views/signup/signup.controller.js"></script>
    <script src="views/signup/signup.js"></script>
    <!-- endinject -->

    <!-- endbuild -->

    <script src="http://localhost:35729/livereload.js?snipver=1"></script>

  </body>
</html>
