<div layout="column" layout-align="center center">
  <h3>Sign up using your social account</h3>

  <div layout="row">
    <md-button aria-label="btnFacebook" href="/auth/facebook">
      <img src="assets/images/facebook.png">
    </md-button>
    <md-button aria-label="btnGoogle" href="/auth/google">
      <img src="assets/images/google.png">
    </md-button>
  </div>
  <h3>Or with your email</h3>

  <div layout="row">
    <form vmsg-form name="signupForm" ng-submit="vm.signup()">
      <md-input-container>
        <label>First name</label>
        <input type="text" ng-model="vm.user.firstName" vmsg required>
      </md-input-container>
      <md-input-container>
        <label>Last name</label>
        <input type="text" ng-model="vm.user.lastName" vmsg required>
      </md-input-container>
      <md-input-container>
        <label>Email</label>
        <input type="email" ng-model="vm.user.email" vmsg required>
      </md-input-container>
      <md-input-container>
        <label>Username</label>
        <input type="text" ng-model="vm.user.username" vmsg required>
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input type="password" ng-model="vm.user.password" vmsg required>
      </md-input-container>
      <md-button type="submit" class="md-raised md-primary">Signup</md-button>
      &nbsp;or&nbsp;
      <a ui-sref="login">login</a>
    </form>
  </div>
</div>

