<md-content layout-padding>
  <form vmsg-form name="gameForm" ng-submit="vm.saveGame()" novalidate>
    <div layout>

      <md-input-container>
        <label>Speeldatum</label>
        <input type="date" name="playdate" ng-model="vm.game.gameDate" vmsg required>
      </md-input-container>

    </div>
    <div layout layout-sm="column">

      <md-input-container>
        <label>Naam</label>
        <input ng-model="vm.game.home.name" name="homeName" vmsg required>
      </md-input-container>

      <div layout="row">
        <md-input-container>
          <label>Nodig</label>
          <input type="number" ng-model="vm.game.home.needed" name="homeNeeded" vmsg required>
        </md-input-container>
        <md-input-container>
          <label>Caramboles</label>
          <input type="number" ng-model="vm.game.home.caramboles" name="homeCaramboles" vmsg required>
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container>
          <label>Beurten</label>
          <input type="number" ng-model="vm.game.turns" name="turns" vmsg required>
        </md-input-container>
        <md-input-container ng-show="vm.game.home.caramboles > 0 && vm.game.turns > 0">
          <label>{{vm.game.home.caramboles / vm.game.turns | number:3}}</label>
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container>
          <label>Serie</label>
          <input type="number" ng-model="vm.game.home.serie" name="homeSerie" vmsg required>
        </md-input-container>

        <md-input-container>
          <label>Punten</label>
          <input type="number" ng-model="vm.game.home.points" name="homePoints" vmsg required>
        </md-input-container>
      </div>
    </div>

    <div layout layout-sm="column">
      <md-input-container>
        <label>Tegenstander</label>
        <input ng-model="vm.game.away.name" name="awayName" vmsg required>
      </md-input-container>

      <div layout="row">
        <md-input-container>
          <label>Nodig</label>
          <input type="number" ng-model="vm.game.away.needed" name="awayNeeded">
        </md-input-container>
        <md-input-container>
          <label>Caramboles</label>
          <input type="number" ng-model="vm.game.away.caramboles" name="awayCaramboles" vmsg required>
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container>
          <label>Beurten</label>
          <input type="number" ng-model="vm.game.turns" ng-disabled="true">
        </md-input-container>
        <md-input-container ng-show="vm.game.away.caramboles > 0 && vm.game.turns > 0">
          <label>{{vm.game.away.caramboles / vm.game.turns | number:3}}</label>
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container>
          <label>Serie</label>
          <input type="number" ng-model="vm.game.away.serie" name="awaySerie" vmsg required>
        </md-input-container>
        <md-input-container>
          <label>Punten</label>
          <input type="number" ng-model="vm.game.away.points" name="awayPoints" vmsg required>
        </md-input-container>
      </div>
    </div>
    <div layout layout-sm="column">
      <md-button class="md-raised md-primary" type="submit">Opslaan</md-button>
    </div>

  </form>
</md-content>
