<md-content>
  <md-list>
    <md-subheader class="md-no-sticky">
        Meest recente wedstrijden
        <a ui-sref="games.new">
          <md-button class="md-icon-button" aria-label="Add game">
            <md-icon md-svg-icon="assets/images/icons/ic_add_circle_outline_24px.svg"></md-icon>
          </md-button>
        </a>
    </md-subheader>
    <md-list-item ng-repeat="game in vm.games">
        <div layout="column" flex="100">
          <div layout="row">
            <div flex="10">
              <h3>{{game.gameDate | date: shortDate}}</h3>
            </div>
            <div flex="35">
              <h3>{{game.home.name}}</h3>
            </div>
            <div flex="35">
              <h3>{{game.away.name}}</h3>
            </div>
            <div flex>
              <a ui-sref="games.edit({gameId:game._id})">
                <md-button class="md-icon-button" aria-label="Edit game">
                  <md-icon md-svg-icon="assets/images/icons/ic_mode_edit_24px.svg"></md-icon>
                </md-button>
              </a>
            </div>
            <div flex>
              <md-button class="md-icon-button" aria-label="Delete game" ng-click="vm.deleteGame(game)">
                <md-icon md-svg-icon="assets/images/icons/ic_delete_24px.svg"></md-icon>
              </md-button>
            </div>
          </div>

          <div layout="row">
            <div flex="5" offset="10">
              <label>Nodig</label>
              <p>{{game.home.needed}}</p>
            </div>
            <div flex="5">
              <label>Car.</label>
              <p>{{game.home.caramboles}}</p>
            </div>
            <div flex="5">
              <label>Brt.</label>
              <p>{{game.turns}}</p>
            </div>
            <div flex="5">
              <label>Moy.</label>
              <p>{{game.home.caramboles / game.turns | number: 3}}</p>
            </div>
            <div flex="5">
              <label>HS.</label>
              <p>{{game.home.serie}}</p>
            </div>
            <div flex="5">
              <label>Pnts.</label>
              <p>{{game.home.points}}</p>
            </div>
            <div flex="5"></div>


            <div flex="5">
              <label>Nodig</label>
              <p>{{game.away.needed}}</p>
            </div>
            <div flex="5">
              <label>Car.</label>
              <p>{{game.away.caramboles}}</p>
            </div>
            <div flex="5">
              <label>Brt.</label>
              <p>{{game.turns}}</p>
            </div>
            <div flex="5">
              <label>Moy.</label>
              <p>{{game.away.caramboles / game.turns | number: 3}}</p>
            </div>
            <div flex="5">
              <label>HS.</label>
              <p>{{game.away.serie}}</p>
            </div>
            <div flex="5">
              <label>Pnts.</label>
              <p>{{game.away.points}}</p>
            </div>
            <div flex="5"></div>

          </div>

        </div>
    </md-list-item>
  </md-list>
</md-content>
