<div layout="column" layout-align="center center">
  <h3>Login using your social account</h3>

  <div layout="row">
    <md-button aria-label="btnFacebook" href="/auth/facebook">
      <img src="assets/images/facebook.png">
    </md-button>
    <md-button aria-label="btnGoogle" href="/auth/google">
      <img src="assets/images/google.png">
    </md-button>
  </div>

  <h3>Or with your account</h3>

  <div layout="row">
    <form vmsg-form name="loginForm" ng-submit="vm.login()" novalidate>
      <md-input-container>
        <label for="username">Username</label>
        <input type="text" id="username" ng-model="vm.user.username" vmsg required>
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input type="password" ng-model="vm.user.password" vmsg required>
      </md-input-container>
      <md-button type="submit" class="md-raised md-primary">Login</md-button>
      &nbsp;or&nbsp;
      <a ui-sref="signup">signup</a>
    </form>
  </div>
  <md-content>
    <md-button href="/#!/password/forgot">Forgot your password?</md-button>
  </md-content>
</div>
